.imgselect {
	filter: grayscale(100%);
}

.col-main {
	color: white;
	background-color: black;
}

.col-NA {
	color: white;
	background-color: #EF5B5B;
}

.col-SA {
	color: white;
	background-color: #FFBA49;
}

.col-AF {
	color: white;
	background-color: #ee7c0b;
}

.col-EU {
	color: white;
	background-color: #1446A0;
}

.col-AI {
	color: white;
	background-color: #5D2E8C;
}

.col-AU {
	color: white;
	background-color: #7FB069;
}

.card:hover {
  transform: scale(1.3,1.3);
  transition: scale(1.5,1.5) 2s;
  transition-delay: 0.35s;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.cardFocus {
	z-index: 2;
}

.logo {
  text-transform:uppercase;
}