.imgselect {
	filter: grayscale(100%);
}

.col-main {
	color: white;
	background-color: black;
}

.col-NA {
	color: white;
	background-color: #EF5B5B;
}

.col-SA {
	color: white;
	background-color: #FFBA49;
}

.card:hover {
  width: 550px;
  height: 550px;
  transition: width 2s, height 2s;
}